.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 10px;

}

.logo{
  width: 100px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.restaurant-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.search{
  padding: 10px;
  height: 100%;

}

.res-logo {
  width: 100%;
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the entire container */

}

.filter-btn {
  padding: 5px;
  height: 100%;
}

.filter-btn:hover {
  cursor: pointer;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 200px;
  height: 400px;
  padding: 10px;
  margin: 10px;
  background-color: #f0f0f0 ;
}

.login{
  padding: 0 20 ;
  cursor: pointer;
  margin: 5px;
}

.filter {
  display: flex;
  align-items: baseline;
}

.user-card {
  padding: 10px;
  border: 1px solid black;
}
.menu-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.menu{
  list-style: none;
  padding: 0;
  align-items: center;
}
.menu-items {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  padding: 10px;
  background-color: #f0f0f0
}

.menu-items:hover{
  cursor: pointer;
  border: 1px solid black;
}
