.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
  margin-bottom: 10px;

}

.logo{
  width: 100px;
}

.nav-items > ul {
  font-size: 20px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-card {
  width: 200px;
  padding: 10px;
  margin: 10px;
}

.restaurant-card:hover{
  cursor: pointer;
  border: 1px solid black;
}

.search{
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;

}

.res-logo {
  width: 100%;
  object-fit: cover; /* Ensures the image maintains its aspect ratio and covers the entire container */

}